<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXJhku7Xt7pQqz5MBim3JK0E7w0gtfAxc</string>
	<key>GCM_SENDER_ID</key>
	<string>8793760743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.far.sgdrtr92df1l</string>
	<key>PROJECT_ID</key>
	<string>pargrexslulmor-brelden</string>
	<key>STORAGE_BUCKET</key>
	<string>pargrexslulmor-brelden.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8793760743:ios:d81317ca1574e33f18d342</string>
</dict>
</plist>